<!-- new-project start -->
<section id="new-project" class="new-project">
  <div class="container">
    <div class="new-project-details">
      <div class="row">
        <div class="col-md-10 col-sm-8">
          <div class="single-new-project">
            <h3>
              Want to start a new project with us? Let’s Start!
            </h3>
          </div><!-- /.single-new-project-->
        </div><!-- /.col-->
        <div class="col-md-2 col-sm-4">
          <div class="single-new-project">
            <a href="#" class="slide-btn">
              start now
            </a>
          </div><!-- /.single-new-project-->
        </div><!-- /.col-->
      </div><!-- /.row-->
    </div><!-- /.new-project-details-->
  </div><!-- /.container-->

</section><!-- /.new-project-->
<!-- new-project end -->