<!--The content below is only a placeholder and can be replaced. -->


<app-menu></app-menu> 

<!-- header-slider-area end -->
<!--
<app-header-slider-area></app-header-slider-area>
<app-what-we-do></app-what-we-do>
<app-about></app-about>
<app-service></app-service>
<app-statistics></app-statistics>
<app-project></app-project>
<app-team></app-team>
<app-pricing></app-pricing>
<app-testemonial></app-testemonial>
<app-clients></app-clients>
<app-blog></app-blog>
<app-contact></app-contact>
<app-new-project-start></app-new-project-start>
<app-footer></app-footer>
-->
<router-outlet></router-outlet>

