<!--service start-->
		<section id="service"  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>our services</h2>
							<p>
								Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
							</p>
						</div><!--/.section-header-->
						<div class="service-content-one">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service1.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">busisness planning</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service2.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">busisness consultency</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service3.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">financial services</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-one-->
						<div class="service-content-two">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service4.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">risk management</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service5.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">expert advisers</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">24/7 customer support</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-two-->
					</div><!--/.service-details-->
				</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->